<h1>I add cars</h1>
<form action="/addCar" method="POST">
<fieldset>
 <legend>Create Car:</legend>
  Mark:<br>
  <input type="text" name="mark" placeholder="Add my mark"><br>
  Model:<br>
  <input type="text" name="model" placeholder="Add my model"><br>
  Image:<br>
  <input type="text" name="image" placeholder="Add my photo"><br>
  Year:<br>
  <input type="text" name="year" placeholder="Manifacture year"><br>
  Price:<br>
  <input type="text" name="pricePerDay" placeholder="Price per day"><br><br>
  <input type="submit" value="Submit">
  </fieldset>
</form>